In [8]:
import pandas as pd #Data Structure Library, aliased as 'pd'
import numpy as np #Linear Algebra Library, aliased as 'np'
import matplotlib.pyplot as plt #Visualization Library, aliased as 'plt'

### First, lets import the dataset into Pandas

Import the csv named "birds.csv" in the data folder in the current directory:

In [13]:
birds_df = pd.read_csv("./data/birds.csv")

In [16]:
birds_df.head()

   continent  latitude   wingsize  sex
0          1      40.5  94.111111    0
1          1      42.0  92.444444    0
2          1      43.6  92.420444    0
3          1      45.7  91.521778    0
4          1      45.9  90.547111    0

Pandas dynamically assign datatypes to the columns to a point, if there are specific columns you want to import as datatypes you can change them after the fact, or define them during the import.

In [15]:
birds_df = pd.read_csv("./data/birds.csv", sep=",", dtype = {"continent" : np.int32,
                                                             "latitude"  : np.float64,
                                                             "wingsize"  : np.float64,
                                                             "sex"       : np.int32})