# Some Common Datatypes

## Numeric

In [55]:
number_0 = 10
number_1 = 11.20
number_2 = 14.
number_3 = float(200)

In [56]:
print(number_0, type(number_1))
print(number_1, type(number_2))
print(number_2, type(number_3))
print(number_3, type(number_4))

10 <class 'float'>
11.2 <class 'float'>
14.0 <class 'float'>
200.0 <class 'float'>

## Strings

In [57]:
string_1 = "Hello"
string_2 = "World!"

In [58]:
print(type(string_1))

<class 'str'>

## Lists

In [59]:
list_of_numbers = [number_0, number_1, number_2, number_3, 20, "Hello"]
print(list_of_numbers, type(list_of_numbers))

[10, 11.2, 14.0, 200.0, 20, 'Hello'] <class 'list'>

## Dictionaries

In [23]:
dict_1 = {"FirstNum" : 12,
          "SecondNum" : 11.}

In [24]:
print(dict_1, type(dict_1))

{'FirstNum': 12, 'SecondNum': 11.0} <class 'dict'>

In [25]:
print(dict_1.keys())

dict_keys(['FirstNum', 'SecondNum'])

## Tuples

In [45]:
tup = (1, "NotANumber")

In [20]:
print(tup, type(tup))

(1, 'NotANumber') <class 'tuple'>

## Sets

In [28]:
s = {1, 3, 3, 2 , 1.1, "Hey"}

In [30]:
print(s, type(s))

{1, 2, 3, 1.1, 'Hey'} <class 'set'>

#### The difference between lists, tuples, and sets:
Lists:
* Sortable
* Mutible
* Appendable
* Un-hashable
* Subscriptable

Sets:
* Distinct values
* Un-sortable
* Un-hashable
* Un-Subscriptable
* Allow for set math

Tuples:
* Sortable
* Un-mutable
* Hashable

# Some Common Operations

### Addition and subtraction "+/-"

Numeric:

In [66]:
num_0 = 10
num_1 = 1.1

In [67]:
num_0 + num_1

11.1

In [73]:
num_0 - num_1

8.9

Iterables:

In [68]:
a = "Hello "
b = "World!"

In [75]:
a + b

'Hello World!'

In [70]:
l_0 = [1, "hey", 99]
l_1 = ["tree"]

In [71]:
l_0 + l_1

[1, 'hey', 99, 'tree']

Iterables such as lists and strings, subtraction not an operator, and addition is just an alias for "append".

### Multiplication and Division

Numeric:

In [72]:
num_0 * num_1

11.0

In [76]:
num_0 / num_1

9.09090909090909

Iterables:

In [78]:
["Hey"] * 8

['Hey', 'Hey', 'Hey', 'Hey', 'Hey', 'Hey', 'Hey', 'Hey']

In [80]:
"Woah " * 12

'Woah Woah Woah Woah Woah Woah Woah Woah Woah Woah Woah Woah '

# Iterables Indexing

Iterables are things that can be looped through and or indexed by a numerical value.

Iterable indices start at 0.

Iterable indices can be referenced from the tail of the iterable by negative numbers starting at -1.

Common Iterables are:
* Strings
* Lists
* Arrays
* Tuples
* Generators

Lists (Tuples work very similarly):

In [81]:
a_list = [1, 2, "a", ["A", "B"]]

In [82]:
a_list[0]

1

In [83]:
a_list[1]

2

In [84]:
a_list[1:]

[2, 'a', ['A', 'B']]

In [90]:
a_list[-3:]

[2, 'a', ['A', 'B']]

In [91]:
a_list[::-1] #Handy for reversing a list.

[['A', 'B'], 'a', 2, 1]

In [102]:
a_list[-1][1]

'B'

In [92]:
a_string = "Hello World!"

In [95]:
a_string[3:10]

'lo Worl'

You can also reference repeating patterns in lists. Say I want to pick out every 4th character starting at index 2:

In [96]:
a_string[2::4]

'lWd'

In [101]:
#Or:
"Get all 6 of the x: x00x00x00x00x00x"[20::3]

'xxxxxx'

Arrays:

Indexing is similar to lists, but have some much more complex properties that I won't go into here.

Generators:

Not subscriptable (does't support indexing) and will be covered when we cover functions.

# Loops

Loops are useful for repetitive tasks.

There are 2 common loop types: **for** and **while** with different exit conditions.

The scope of the loop is defined by an indented block of code underneath the start of the loop.

The **for** loop:

It performs its indented code for a specified number of iterations. You always need a variable reference to the loop index you are currently on, in the below case: **i** is the variable reference.

In [116]:
for i in [0,1,2,3]:
    print(i, "Hello World!")

0 Hello World!
1 Hello World!
2 Hello World!
3 Hello World!

Any iterable can be used to define the number of loops that will occur:

In [117]:
for w in "Hello World!":
    print(w)

H
e
l
l
o

W
o
r
l
d
!

The **while** loop will repeat until an exit condition is met.

Suppose we wanted to randomly change values in a list until they were equal to one another...

In [127]:
import random as r

In [152]:
our_list = [1, 0] #Assing 1,0 to each index in the starting list.

while our_list[0] != our_list[1]: #Entry condition, if index 0 of the list is not equal to index 1: Inter loop and repeat until met
    index_to_change = r.randint(0,1)
    our_list[index_to_change] = r.randint(0,1)
    print(our_list)

[1, 0]
[1, 0]
[1, 1]